node_modules/
.npm-cache/
build/*
!build/icon.ico
dist/
release/
*.exe
*.zip
*.log
.env
agent-connection.json
.zxproject/
region/
DIM-1/
DIM1/
playerdata/
session.lock
level.dat*
*.mca
*.schematic
.DS_Store
Thumbs.db
